{% extends 'store/main.html' %} {% load static %} {% block content %}
<!-- Product Info -->
<div class="row d-flex justify-content-center">
    <div class="col-lg-3">
        {% if product.image %}
        <img src="{{product.image.url}}" class="img-fluid img-thumbnail rounded">
        {% else %}
        <img src="{% static 'images/placeholder.png' %}" alt="" class="img-fluid rounded">
        {% endif %}
    </div>
    <div class="col-lg-4">
        <h4 class="mb-3">{{product.name}}</h4>
        <a class="btn btn-success add-btn mb-3 add-to-cart-button" href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
        <div class="row">
            <div class="col-sm-2 text-end">
                <h5>Category:</h5>
                <h5>Brand:</h5>
                <h5>Stock:</h5>
                <h5>Price:</h5>
                <h5>Average rating:</h5>
            </div>
            <div class="col">
                <h5>{{product.category.name}}</h5>
                <h5>{{product.brand.name}}</h5>
                <h5>{{product.stock}}</h5>
                <h5>{{product.price}}</h5>
                <h5>{{avg_rating.rating__avg}} stars</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-8 mt-5">
        <h5>Description</h5>
        {{product.description}}
    </div>
</div>

<div class="row-lg-4 d-flex justify-content-center mt-5">
    <div class="col-lg-4">
        <h2 class="mb-4">Write a Review</h2>
        
        {% if user.is_authenticated %}
        <!-- Write Review -->
        <form method="post" action="{% url 'submit_review' product.id %}">
            {% csrf_token %}
            {{form.as_p}}
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary mb-3">Submit Review</button>
        </form>
        {% endif %}

        <!-- Comments -->
        {% for review in reviews %}
        <div class="card text-dark bg-light mt-3">
            <div class="card-body">
                <h5 class="card-title">{{review.user.username}}</h5>
                <p class="card-text">{{review.comment}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">Rating: {{review.rating}}/5</small>
                    <small class="text-muted">Date: January 1, 2024</small>
                </div>
            </div>
        </div>
        {% endfor %}
        <br>
    </div>
</div>

{% endblock content %}